In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('Unclean_data-tayara.tn.csv')

In [3]:
data.columns

Index(['location', 'category', 'chambres', 'salles_de_bains', 'superficie',
       'type_de_transaction', 'date', 'price'],
      dtype='object')

In [4]:
newCols = {'chambres':'room_count','salles_de_bains':'bathroom_count','superficie':'size','type_de_transaction':'type'}
data.rename(columns=newCols, inplace=True)

## Data Cleaning

In [5]:
def getByCategory(df,category):
    rows = df.category.isin(category)
    return (df[rows],rows)

def printInfo(df):
    print(df.info())
    print(df.describe())
    print(df.head())

In [6]:
rows, cats = getByCategory(data, ['Appartements','Locations de vacances','Colocations'])

In [7]:
printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6771 entries, 2 to 20133
Data columns (total 8 columns):
location          6771 non-null object
category          6771 non-null object
room_count        6751 non-null float64
bathroom_count    6751 non-null float64
size              6494 non-null float64
type              6749 non-null object
date              6771 non-null object
price             6768 non-null float64
dtypes: float64(4), object(4)
memory usage: 476.1+ KB
None
         room_count  bathroom_count          size         price
count  6.751000e+03    6.751000e+03  6.494000e+03  6.768000e+03
mean   2.032356e+05    1.715703e+05  5.407338e+05  6.325050e+05
std    3.779753e+06    3.380941e+06  2.694343e+07  1.081339e+07
min   -4.000000e+00   -9.000000e+00 -2.500000e+02  0.000000e+00
25%    2.000000e+00    1.000000e+00  7.000000e+01  1.700000e+02
50%    2.000000e+00    1.000000e+00  1.000000e+02  7.000000e+02
75%    3.000000e+00    1.000000e+00  1.270000e+02  1.100000e+05
max    9.869602e+07    9.869602e+07  2.147484e+09  5.700000e+08
                location               category  room_count  bathroom_count  \
2  Ariana, Autres villes  Locations de vacances         3.0            80.0
3  Ariana, Autres villes           Appartements         2.0             1.0
4  Ariana, Autres villes  Locations de vacances         1.0             1.0
5  Ariana, Autres villes           Appartements         2.0             1.0
6  Ariana, Autres villes  Locations de vacances         1.0             1.0

    size     type            date  price
2    NaN  À Louer  7 février 2020   70.0
3  900.0  À Louer  7 février 2020   80.0
4  900.0  À Louer  7 février 2020   70.0
5   80.0  À Louer  7 février 2020  380.0
6   90.0  À Louer  7 février 2020   70.0

In [8]:
rooms = data.room_count.between(1,4)
bathrooms = data.bathroom_count.between(1,3)
size = data['size'].between(20,500)

In [9]:
dropped = data[(cats & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)

In [10]:
rows, cat = getByCategory(data, ['Maisons et Villas'])

In [11]:
printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5020 entries, 17 to 20136
Data columns (total 8 columns):
location          5020 non-null object
category          5020 non-null object
room_count        5003 non-null float64
bathroom_count    5003 non-null float64
size              4786 non-null float64
type              5002 non-null object
date              5020 non-null object
price             5019 non-null float64
dtypes: float64(4), object(4)
memory usage: 353.0+ KB
None
         room_count  bathroom_count          size         price
count  5.003000e+03    5.003000e+03  4.786000e+03  5.019000e+03
mean   9.134172e+05    1.325793e+06  1.050431e+06  3.573246e+06
std    4.299557e+07    5.260999e+07  3.804968e+07  6.430572e+07
min   -1.110000e+02   -2.111000e+03 -1.111100e+04  0.000000e+00
25%    3.000000e+00    1.000000e+00  1.012500e+02  6.500000e+01
50%    3.000000e+00    1.000000e+00  1.850000e+02  6.500000e+02
75%    4.000000e+00    2.000000e+00  3.500000e+02  2.100000e+05
max    2.147484e+09    2.147484e+09  2.147484e+09  4.000000e+09
                 location           category  room_count  bathroom_count  \
17      Ariana, La Soukra  Maisons et Villas         4.0             2.0
19       Ariana, Chotrana  Maisons et Villas         5.0             3.0
21         Ariana, Raoued  Maisons et Villas         2.0             1.0
31  Ariana, Autres villes  Maisons et Villas         4.0             2.0
33        Ariana, Ghazela  Maisons et Villas         2.0             1.0

      size      type            date     price
17  1208.0  À Vendre  7 février 2020  700000.0
19   220.0   À Louer  7 février 2020    2000.0
21   150.0  À Vendre  7 février 2020  120000.0
31   130.0  À Vendre  7 février 2020  125000.0
33   150.0  À Vendre  7 février 2020  170000.0

In [12]:
rooms = data.room_count.between(1,20)
bathrooms = data.bathroom_count.between(1,15)
size = data['size'].between(70,2000)

In [13]:
dropped = data[(cat & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)

In [14]:
rows, cat = getByCategory(data, ['Terrains et Fermes'])

In [15]:
printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5797 entries, 0 to 20132
Data columns (total 8 columns):
location          5797 non-null object
category          5797 non-null object
room_count        0 non-null float64
bathroom_count    0 non-null float64
size              0 non-null float64
type              0 non-null object
date              5797 non-null object
price             5797 non-null float64
dtypes: float64(4), object(4)
memory usage: 407.6+ KB
None
       room_count  bathroom_count  size         price
count         0.0             0.0   0.0  5.797000e+03
mean          NaN             NaN   NaN  2.208495e+07
std           NaN             NaN   NaN  1.321961e+09
min           NaN             NaN   NaN  0.000000e+00
25%           NaN             NaN   NaN  0.000000e+00
50%           NaN             NaN   NaN  1.200000e+02
75%           NaN             NaN   NaN  6.000000e+04
max           NaN             NaN   NaN  1.000000e+11
                 location            category  room_count  bathroom_count  \
0          Ariana, Raoued  Terrains et Fermes         NaN             NaN
1   Ariana, Autres villes  Terrains et Fermes         NaN             NaN
14  Ariana, Autres villes  Terrains et Fermes         NaN             NaN
18      Ariana, La Soukra  Terrains et Fermes         NaN             NaN
26    Ariana, Sidi Thabet  Terrains et Fermes         NaN             NaN

    size type            date     price
0    NaN  NaN  7 février 2020     100.0
1    NaN  NaN  7 février 2020  316000.0
14   NaN  NaN  7 février 2020     180.0
18   NaN  NaN  7 février 2020     600.0
26   NaN  NaN  7 février 2020  350000.0

In [16]:
data.loc[cat,['room_count','bathroom_count','size']] = -1

In [17]:
data.loc[cat, 'type'] = 'À Vendre'

In [18]:
rows, cats = getByCategory(data, ['Magasins, Commerces et Locaux industriels','Bureaux et Plateaux'])

In [19]:
printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2442 entries, 7 to 20131
Data columns (total 8 columns):
location          2442 non-null object
category          2442 non-null object
room_count        2346 non-null float64
bathroom_count    2346 non-null float64
size              1907 non-null float64
type              2347 non-null object
date              2442 non-null object
price             2442 non-null float64
dtypes: float64(4), object(4)
memory usage: 171.7+ KB
None
         room_count  bathroom_count          size         price
count  2.346000e+03    2.346000e+03  1.907000e+03  2.442000e+03
mean   5.380286e+04    9.661215e+04  2.549329e+06  2.390520e+07
std    1.386735e+06    2.471236e+06  6.976039e+07  1.113262e+09
min   -3.000000e+00   -2.000000e+00 -1.500000e+03  0.000000e+00
25%    1.000000e+00    1.000000e+00  4.000000e+01  0.000000e+00
50%    1.000000e+00    1.000000e+00  9.000000e+01  6.500000e+02
75%    2.000000e+00    2.000000e+00  2.000000e+02  3.200000e+03
max    5.149324e+07    9.912254e+07  2.147484e+09  5.500000e+10
                       location                                   category  \
7   Ariana, Jardins D'el Menzah  Magasins, Commerces et Locaux industriels
12          Ariana, Borj Louzir  Magasins, Commerces et Locaux industriels
15         Ariana, Ariana Ville  Magasins, Commerces et Locaux industriels
24        Ariana, Autres villes  Magasins, Commerces et Locaux industriels
28          Ariana, Borj Louzir  Magasins, Commerces et Locaux industriels

    room_count  bathroom_count  size      type            date    price
7          1.0             0.0  14.0  À Vendre  7 février 2020  30000.0
12         2.0             1.0  20.0   À Louer  7 février 2020    650.0
15         1.0             1.0  40.0   À Louer  7 février 2020    450.0
24         1.0            13.0   NaN   À Louer  7 février 2020     13.0
28         1.0             1.0  20.0  À Vendre  7 février 2020  55000.0

In [20]:
rooms = data.room_count.between(1,15)
bathrooms = data.bathroom_count.between(0,10)
size = data['size'].between(20,2000)

In [21]:
dropped = data[(cats & ~(rooms & bathrooms & size))]
data.drop(dropped.index,inplace=True)

In [22]:
rows, cat = getByCategory(data, ['Autre Immobilier'])

In [23]:
printInfo(rows)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 466 to 20095
Data columns (total 8 columns):
location          107 non-null object
category          107 non-null object
room_count        0 non-null float64
bathroom_count    0 non-null float64
size              0 non-null float64
type              0 non-null object
date              107 non-null object
price             107 non-null float64
dtypes: float64(4), object(4)
memory usage: 7.5+ KB
None
       room_count  bathroom_count  size         price
count         0.0             0.0   0.0  1.070000e+02
mean          NaN             NaN   NaN  7.959739e+06
std           NaN             NaN   NaN  7.262881e+07
min           NaN             NaN   NaN  0.000000e+00
25%           NaN             NaN   NaN  0.000000e+00
50%           NaN             NaN   NaN  2.500000e+02
75%           NaN             NaN   NaN  3.000000e+03
max           NaN             NaN   NaN  7.500000e+08
                   location          category  room_count  bathroom_count  \
466   Ariana, Autres villes  Autre Immobilier         NaN             NaN
581          Ariana, Ariana  Autre Immobilier         NaN             NaN
718       Ariana, La Soukra  Autre Immobilier         NaN             NaN
1016        Ariana, Ghazela  Autre Immobilier         NaN             NaN
1018       Ariana, Chotrana  Autre Immobilier         NaN             NaN

      size type            date        price
466    NaN  NaN  5 février 2020       2000.0
581    NaN  NaN  5 février 2020          0.0
718    NaN  NaN  4 février 2020  750000000.0
1016   NaN  NaN  2 février 2020        200.0
1018   NaN  NaN  2 février 2020        200.0

In [24]:
data.drop(rows.index,inplace=True)

In [25]:
data.dropna(subset=['price'],inplace=True)

In [26]:
dropped = data.price < 10
data.drop(data[dropped].index,inplace=True)

In [27]:
forSale = data.type == 'À Vendre'
below10k = data.price < 10000

In [28]:
data.loc[forSale & below10k,'price'] *= 1000

In [29]:
data.drop(columns=['date'],inplace=True)

In [30]:
data[['city','region']] = data.location.str.split(', ',expand=True)
data.drop('location',axis=1, inplace=True)

In [31]:
data['log_price'] = np.log10(data['price'])

In [33]:
data.to_csv("Clean_data-tayara.tn.csv", index=False)